language: php

php:
  - 5.6
  - 7.0

env:
  - WP_VERSION=latest WP_MULTISITE=0

install:
  - composer install

before_script:
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION

script: phpunit
